* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* "HEADER STYLE" STARTS HERE */
body {
  margin: 0 auto;
}

nav {
  height: 5rem;
  max-width: 192rem;
  padding: 1.6rem 11rem;
  font-family: "DM Sans";

  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
}

.menu {
  font-size: 0.9rem;
  font-weight: 500;

  display: flex;
  gap: 3rem;
}

.navBar {
  display: flex;
  gap: 1.7rem;
}

.navBar a {
  color: #4f9cf9;
}

.buttons {
  font-family: "Inter";
  display: flex;
  gap: 1.7rem;
}

#loginButton {
  color: #043873;
  background-color: #ffe492;
  padding: 1rem 2rem;
  font-weight: 600;
}

.bigBlueButton {
  display: flex;
  align-items: center;
  padding: 1rem 1.3rem;
  gap: 0.7rem;
  border: none;

  color: #fff;
  background: #4f9cf9;
  border-radius: 10px;

  font-weight: 500;
}

/* "HEADER" STYLE ENDS HERE */

/* "HERO-SECTION" STYLE STARTS HERE */

h1 {
  font-size: 50px;
}

h1 + p {
  margin-top: 24px;
}

.generalBlock {
  font-family: "Inter";
  padding: 7rem 11rem;
}

#heroBlock {
  background-image: url("assets/Element.svg");
  background-repeat: no-repeat;
  background-position: top 70% right 80%;

  display: flex;
  align-items: center;
}

#heroTextBlock {
  color: #4f9cf9;
}

.textBlock {
  font-family: Inter;
  margin-bottom: 60px;
  color: #212529;
}

.imageContainer {
  background: #c4defd;
  width: 50rem;
  height: 25rem;
}

/* "HERO-SECTION" STYLE ENDS HERE */

/* "WORK-MANAGEMENT" STYLE STARTS HERE */

#workManagementBlock {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;

  position: relative;
  isolation: isolate;
}

#workManagementBlock::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.3;

  background-image: url("assets/Group.svg");
  background-repeat: no-repeat;
  background-position: top 21% left;
}

.underlineElement {
  background-image: url(assets/UnderlineElement.svg);
  background-repeat: no-repeat;
}

#projectManagementTextBlock {
  background-position: top 30% left;
  background-size: 31.25rem;
}

#workTogetherTextBlock {
  background-position: top 25% right;
  background-size: 20rem;
}

#projectManagementImageContainer {
  width: 67rem;
}

.projectManagement {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.workTogether {
  display: flex;
  align-items: center;
  gap: 6.25rem;
}

#workTogetherImage {
  width: 37.5rem;
  height: 37.5rem;
}

/* "WORK-MANAGEMENT" STYLE ENDS HERE */

/* "CUSTOMIZE-IT-TO-YOUR-NEEDS" STYLE STARTS HERE */

#customizeBlock {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#customizeTextBlock {
  background-position: top 50% left 44%;
  background-size: 18.5rem;
}

#customizeImageContainer {
  width: 70rem;
}

/* "CUSTOMIZE-IT-TO-YOUR-NEEDS" STYLE ENDS HERE */

/* "PRICING" STYLE STARTS HERE */

#chooseYourPlan {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-size: 21rem;
  background-position: top 18% right 31%;
}

#planP {
  padding-bottom: 3.75rem;
  padding-left: 14.688rem;
  padding-right: 14.688rem;
}

.planPricing {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0rem;
}

.planPricing button {
  margin-top: 1.563rem;
  padding: 0.8rem 1.5rem;
}

#inactiveButton {
  border-style: solid;
  border-width: 1px;
  border-color: #ffe492;
  background-color: #ffffff;
  color: #212529;
}

.plans {
  border-style: solid;
  border-radius: 0.625rem;
  border-width: 1px;
  border-color: #ffe492;
  font-weight: 400;

  margin: 3.859rem 0rem;
  padding: 2.5rem 2.75rem;
}

.plans li {
  padding: 0.625rem 0rem;
  font-size: 0.875rem;
}

.plans img {
  padding-right: 1.188rem;
}

#bestPlan {
  border-style: hidden;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  margin: 2rem;
  padding: 4rem 2.5rem 2rem;
  font-weight: 500;
  color: #043873;
}

#bestPlan img {
  filter: invert(50%) sepia(99%) saturate(1159%) hue-rotate(190deg)
    brightness(100%) contrast(96%);
}

.planTextBox {
  margin: 1.563rem;

  display: flex;
  flex-direction: column;

  gap: 1.563rem;
}

.plans span {
  font-size: 1.2rem;
  font-weight: 600;
}

.plans h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.plans p {
  font-size: 0.9rem;
  font-weight: 500;
}
/* "PRICING" STYLE ENDS HERE */

/* "YOUR-WORK" STYLE STARTS HERE */

#forCommonBackground {
  /* background: url(./assets/BACKGROUND.svg);
  background-repeat: no-repeat;
  background-position: top 108% left -2%; */
  position: relative;
  isolation: isolate;
}

#forCommonBackground ::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;

  background: url(./assets/BACKGROUND.svg) no-repeat;
  background-size: 31rem;
  background-position: bottom -8% left -2%;
  opacity: 0.06;
}

.yourWork {
  background: #043873;
  padding: 8.75rem 24rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./assets/BlueUnderlineElement.svg);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: top 35.5% right 28%;
}

.yourWork h1 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.yourWork p {
  color: #ffffff;
  text-align: center;
}

/* "YOUR-WORK" STYLE ENDS HERE */

/* "YOUR-DATA STYLE" STARTS HERE */

#yourDataBlock {
  display: flex;
  align-items: center;
}

#yourDataBlock .textBlock {
  background-image: url(./assets/FatUnderlineElement.svg);
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: top 34% left 43%;
}

#yourDataSvgElement {
  width: 35rem;
}

/* "YOUR-DATA STYLE" ENDS HERE */

/* "OUR-SPONSORS" STYLE STARTS HERE */

#ourSponsorsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.3rem;

  background-image: url(./assets/FatUnderlineElement.svg);
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: top 38% right 45%;
}

#sponsorIcons {
  display: flex;
  gap: 12rem;
}

#sponsorIcons img {
  height: 47px;
}

/* "OUR-SPONSORS" STYLE ENDS HERE */

/* "APPS" STYLE STARTS HERE */

#appsBlock {
  display: flex;
  align-items: center;
  gap: 6.5rem;

  background-color: #043873;
  background-image: url(./assets/GrayElement.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#appsBlock h1 {
  color: #ffffff;
}

#appsBlock p {
  color: #ffffff;
}

#appsBlockImage {
  width: 29.5rem;
}

/* "APPS" STYLE ENDS HERE */

/* "TESTIMONIAL" STYLE STARTS HERE */

#testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;

  background-image: url(./assets/FatterUnderlineElement.svg);
  background-repeat: no-repeat;
  background-size: 13rem;
  background-position: top 14.5% right 45.5%;
}

#testimonial p {
  font-weight: 400;
}

#testimonial h1 {
  color: #212529;
  text-align: center;
}

#testimonial h5 {
  font-size: 17px;
}

#testimonial img {
  width: 6.8rem;
}

#firstUser {
  color: #01252a;
  background-color: #ffffff;
}

.nameStar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 50px;
}

.userComments .plans {
  border-style: hidden;
  background: #4f9cf9;
}

.userComments {
  display: flex;
  gap: 1.6rem;
}

/* "TESTIMONIAL" STYLE ENDS HERE */
